<section class="books">
  <div class="books-container">
    <h2 class="books-title">
      Best Sellers <span class="books-title-color">Books</span>
    </h2>
    <div class="books-category-container">
      <h3 class="books-category-title">Advice How-To and Miscellaneous</h3>
      <ul class="books-list">
        <li class="books-item">
          <div class="books-wrapper">
            <img
              class="books-img"
              src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
              alt=""
            />
          </div>
          <div class="books-overlay">
            <p class="books-overlay-text">QUICK VIEW</p>
          </div>
          <div class="books-info">
            <p class="books-info-title">ATOMIC HABITS</p>
            <p class="books-info-author">James Clear</p>
          </div>
        </li>
        <li class="books-item">
          <div class="books-wrapper">
            <img
              class="books-img"
              src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
              alt=""
            />
          </div>
          <div class="books-overlay">
            <p class="books-overlay-text">QUICK VIEW</p>
          </div>
          <div class="books-info">
            <p class="books-info-title">ATOMIC HABITS</p>
            <p class="books-info-author">James Clear</p>
          </div>
        </li>
        <li class="books-item">
          <div class="books-wrapper">
            <img
              class="books-img"
              src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
              alt=""
            />
          </div>
          <div class="books-overlay">
            <p class="books-overlay-text">QUICK VIEW</p>
          </div>
          <div class="books-info">
            <p class="books-info-title">ATOMIC HABITS</p>
            <p class="books-info-author">James Clear</p>
          </div>
        </li>
        <li class="books-item">
          <div class="books-wrapper">
            <img
              class="books-img"
              src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
              alt=""
            />
          </div>
          <div class="books-overlay">
            <p class="books-overlay-text">QUICK VIEW</p>
          </div>
          <div class="books-info">
            <p class="books-info-title">ATOMIC HABITS</p>
            <p class="books-info-author">James Clear</p>
          </div>
        </li>
        <li class="books-item">
          <div class="books-wrapper">
            <img
              class="books-img"
              src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
              alt=""
            />
          </div>
          <div class="books-overlay">
            <p class="books-overlay-text">QUICK VIEW</p>
          </div>
          <div class="books-info">
            <p class="books-info-title">ATOMIC HABITS</p>
            <p class="books-info-author">James Clear</p>
          </div>
        </li>
      </ul>
      <div class="books-btn-container">
        <button type="button" class="books-btn">see more</button>
      </div>
    </div>
  </div>
</section>
