<section class="categories">

  <h2 class="categories-title">All categories</h2>
  <ul class="categories-menu">
    <li class=" categories-list">
      <a href="" class="categories-nav">Print and E-book Fiction</a>
    </li>
    <li class="categories-list">
      <a href="" class="categories-nav">Combined Print & E-book Nonfiction</a>
    </li>
    <li class="categories-list">
      <a href="" class="categories-nav">Hardcover fiction</a>
    </li>
    <li class="categories-list">
      <a href="" class="categories-nav">Hardcover nonfiction</a>
    </li>
    <!-- <li class="categories-list">Hardcover fiction</li> -->
    <li class="categories-list">
      <a href="" class="categories-nav">Paperback trade fiction</a>
    </li>
    <li class="categories-list">
      <a href="" class="categories-nav">Paperback nonfiction</a>
    </li>
    <li class="categories-list">
      <a href="" class="categories-nav">Advice, how-to & Miscellaneous</a>
    </li>
    <li class="categories-list">
      <a href="" class="categories-nav">Children’s middle grade hardcover</a>
    </li>
  </ul>

</section>