<section class="courses" id="courses">
  <div class="container">
    <div class="courses-title-wrap">
      <h2 class="courses-title">Our <span>Courses</span></h2>
      <p class="courses-text">
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>

    <ol class="courses-list">
      <li class="course-item">
        <div class="courses-number-wrap">
          <p class="courses-number">01</p>
          <a class="courses-wrap-link" href="#sign">
            <svg class="courses-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-courses-vector-up"></use>
            </svg>
          </a>
        </div>

        <div class="course-card">
          <h3 class="course-name">Basics of photography</h3>
          <p class="course-descr">
            During this course, you will be able to familiarize yourself with
            different types of cameras, learn the basics of composition.
          </p>
        </div>
      </li>

      <li class="course-item">
        <div class="courses-number-wrap">
          <p class="courses-number">02</p>
          <a class="courses-wrap-link" href="#sign">
            <svg class="courses-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-courses-vector-up"></use>
            </svg>
          </a>
        </div>

        <div class="course-card">
          <h3 class="course-name">Landscape photography</h3>
          <p class="course-descr">
            In this course, you'll learn how to choose the right angles, frame
            landscapes, and create depth and perspective in your images.
          </p>
        </div>
      </li>

      <li class="course-item">
        <div class="courses-number-wrap">
          <p class="courses-number">03</p>
          <a class="courses-wrap-link" href="#sign">
            <svg class="courses-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-courses-vector-up"></use>
            </svg>
          </a>
        </div>

        <div class="course-card">
          <h3 class="course-name">Portrait photography</h3>
          <p class="course-descr">
            During this course, you will learn to choose the right lighting,
            reproduce the mood and expressions on the faces of the models.
          </p>
        </div>
      </li>
    </ol>
  </div>
</section>
