<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-wrap">
      <div class="footer-frame-section">
        <a href="#" class="footer-logo-svg">
          <svg class="footer-logo" width="127" height="20">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>

        <div class="footer-contacts">
          <address class="footer-address">
            <a href="tel:+380665438912" class="footer-phone-contacts">
              UK: +38 066 543 8912
            </a>
            <a
              href="https://maps.app.goo.gl/dxjbgBepBaQgaq7U7"
              target="_blank"
              rel="noopener noreferrer"
              class="footer-country"
            >
              Ukraine, Kyiv
            </a>
          </address>
        </div>
      </div>

      <div class="footer-nav-section">
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
              class="footer-soc-name"
            >
              Instagram
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              class="footer-soc-name"
            >
              Facebook
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener noreferrer"
              class="footer-soc-name"
            >
              Youtube
            </a>
          </li>
        </ul>

        <ul class="footer-menu-list">
          <li class="footer-menu-item">
            <a href="#about" class="footer-soc-name">About Us</a>
          </li>
          <li class="footer-menu-item">
            <a href="#courses" class="footer-soc-name">Our Courses</a>
          </li>
          <li class="footer-menu-item">
            <a href="#mentors" class="footer-soc-name">Our Mentors</a>
          </li>
          <li class="footer-menu-item">
            <a href="#reviews" class="footer-soc-name">Reviews</a>
          </li>
          <li class="footer-menu-item">
            <a href="#footer" class="footer-soc-name">Contacts </a>
          </li>
        </ul>
      </div>

      <div class="footer-form-container">
        <form class="footer-form">
          <label for="footer-email" class="footer-label">
            <input
              id="footer-email"
              name="footer-email"
              type="email"
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
              placeholder="Enter your email"
              class="footer-input"
              required
            />
          </label>
          <button type="submit" class="footer-form-button">Go</button>
        </form>
      </div>
    </div>

    <div class="footer-last-part">
      <p class="footer-text">
        Privacy policy<br />
        Public Offering Agreement
      </p>
      <p class="footer-text">
        2023 Focus Frame<br />
        © All rights reserved
      </p>
    </div>
  </div>
</footer>
