<header class="header">
  <div class="header-wrap">
    <div class="header-item">
      <nav class="header-navigation">
        <a href="#" class="header-link-logo">
          <svg width="123" height="16" class="header-icon-logo">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="header-nav">
          <li class="header-nav-list">
            <a href="#about" class="header-nav-link">About us</a>
          </li>
          <li class="header-nav-list">
            <a href="#courses" class="header-nav-link">Our courses</a>
          </li>
          <li class="header-nav-list">
            <a href="#mentors" class="header-nav-link">Our mentors</a>
          </li>
          <li class="header-nav-list">
            <a href="#reviews" class="header-nav-link">Reviews</a>
          </li>
          <li class="header-nav-list">
            <a href="#footer" class="header-nav-link">Contacts</a>
          </li>
        </ul>

        <a href="#sign" class="header-camera">
          <svg width="16" height="16" class="header-camera-item">
            <use href="./img/icons.svg#icon-header-camera"></use>
          </svg>
        </a>
        <button class="header-btn-menu" type="button">
          <svg width="32" height="22" class="header-btn-menu-item hbmi-mob">
            <use href="./img/icons.svg#icon-menu-open"></use>
          </svg>
          <svg width="40" height="28" class="header-btn-menu-item hbmi-tab">
            <use href="./img/icons.svg#icon-menu-open"></use>
          </svg>
        </button>
      </nav>
    </div>
    <a href="#sign" class="header-btn">Sign up</a>
  </div>

  <div class="header-menu">
    <div class="header-menu-item">
      <div class="header-menu-wrap">
        <button type="button" class="header-btn-esc">
          <svg width="32" height="32" class="header-btn-esc-item">
            <use href="./img/icons.svg#icon-menu-close"></use>
          </svg>
        </button>

        <ul class="header-nav-menu">
          <li class="header-nav-list-mob item">
            <a href="#about" class="header-nav-link-mob">About us</a>
          </li>
          <li class="header-nav-list-mob item">
            <a href="#courses" class="header-nav-link-mob">Our courses</a>
          </li>
          <li class="header-nav-list-mob item">
            <a href="#mentors" class="header-nav-link-mob">Our mentors</a>
          </li>
          <li class="header-nav-list-mob item">
            <a href="#reviews" class="header-nav-link-mob">Reviews</a>
          </li>
          <li class="header-nav-list-mob item">
            <a href="#footer" class="header-nav-link-mob">Contacts</a>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="
            ./img/header/Rectangle-tab.jpg    1x,
            ./img/header/Rectangle-tab-2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./img/header/Rectangle-mob.jpg    1x,
            ./img/header/Rectangle-mob-2x.jpg 2x
          "
          media="(min-width:320px)"
        />
        <img
          src="./img/header/Rectangle-mob.jpg"
          alt="Camera"
          class="header-img"
        />
      </picture>
    </div>
  </div>
</header>
