<section class="hero">
  <div class="container">
    <div class="hero-wrap">
      <h1 class="hero-title">
        Discover the magic of <span>photography</span> in our school
      </h1>
      <p class="hero-text">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>
      <div class="hero-students-review-wrap">
        <div class="hero-students-wrap">
          <ul class="hero-students-list">
            <li class="hero-students-item">
              <img
                class="hero-student-img"
                srcset="./img/hero/hero-students-img-mob-1@2x.png"
                src="./img/hero/hero-students-img-mob-1.png"
                alt="course student"
                width="54"
                height="54"
              />
            </li>
            <li class="hero-students-item">
              <img
                class="hero-student-img"
                srcset="./img/hero/hero-students-img-mob-2@2x.png"
                src="./img/hero/hero-students-img-mob-2.png"
                alt="course student"
                width="54"
                height="54"
              />
            </li>
            <li class="hero-students-item">
              <img
                class="hero-student-img"
                srcset="./img/hero/hero-students-img-mob-3@2x.png"
                src="./img/hero/hero-students-img-mob-3.png"
                alt="course student"
                width="54"
                height="54"
              />
            </li>
          </ul>
          <a class="hero-students-link" href="#reviews">
            Our happy<br />
            students
            <svg class="hero-students-icon" width="18" height="18">
              <use href="./img/icons.svg#icon-hero-vector"></use>
            </svg>
          </a>
        </div>
        <div class="hero-review">
          <span class="hero-review-icon-container">
            <svg class="hero-review-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-reviews-star"></use>
            </svg>
          </span>
          <div class="hero-review-text-wrap">
            <p class="hero-review-subtitle">Reviews</p>
            <p class="hero-review-number">+1500</p>
          </div>
        </div>
      </div>
      <picture class="hero-photographer-picture">
        <source
          srcset="
            ./img/hero/hero-photographer-img-desktop.png    1x,
            ./img/hero/hero-photographer-img-desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/hero/hero-photographer-img-tablet.png    1x,
            ./img/hero/hero-photographer-img-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/hero/hero-photographer-img-mob.webp    1x,
            ./img/hero/hero-photographer-img-mob@2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="hero-photographer-img"
          src="/img/hero/hero-photographer-img-mob.webp"
          alt="photographer"
        />
      </picture>
    </div>
  </div>
</section>
