<section class="mentors" id="mentors">
  <div class="container">
    <h2 class="mentors-header">
      Our <span class="mentors-header-color">Mentors</span>
    </h2>
    <ul class="mentors-team">
      <li class="mentors-team-member">
        <picture>
          <source
            srcset="
              ./img/mentors/emilia-1x.png 1x,
              ./img/mentors/emilia-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/mentors/emilia-mob-1x.webp 1x,
              ./img/mentors/emilia-mob-2x.webp 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./img/mentors/emilia-mob-1x.webp"
            alt="Emilia Smith's photo"
            class="mentor-photo"
          />
        </picture>
        <h3 class="mentor-name">Emilia Smith</h3>
        <p class="mentors-ammount">1.5 years of experience</p>
      </li>
      <li class="mentors-team-member">
        <picture>
          <source
            srcset="./img/mentors/alex-1x.png 1x, ./img/mentors/alex-2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/mentors/alex-mob-1x.webp 1x,
              ./img/mentors/alex-mob-2x.webp 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./img/mentors/alex-mob-1x.webp"
            alt="Alex Lebedev's photo"
            class="mentor-photo"
          />
        </picture>
        <h3 class="mentor-name">Alex Lebedev</h3>
        <p class="mentors-ammount">3.5 years of experience</p>
      </li>
      <li class="mentors-team-member">
        <picture>
          <source
            srcset="./img/mentors/mia-1x.png 1x, ./img/mentors/mia-2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/mentors/mia-mob-1x.webp 1x,
              ./img/mentors/mia-mob-2x.webp 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./img/mentors/mia-mob-1x.webp"
            alt="Mia Dubrovska's photo"
            class="mentor-photo"
          />
        </picture>
        <h3 class="mentor-name">Mia Dubrovska</h3>
        <p class="mentors-ammount">2.0 years of experience</p>
      </li>
      <li class="mentors-team-member">
        <picture>
          <source
            srcset="
              ./img/mentors/eliot-1x.png 1x,
              ./img/mentors/eliot-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/mentors/eliot-mob-1x.webp 1x,
              ./img/mentors/eliot-mob-2x.webp 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./img/mentors/eliot-mob-1x.webp"
            alt="Eliot Kovalev's photo"
            class="mentor-photo"
          />
        </picture>
        <h3 class="mentor-name">Eliot Kovalev</h3>
        <p class="mentors-ammount">4.0 years of experience</p>
      </li>
    </ul>
  </div>
</section>
