<div class="popup-backdrop">
  <div class="popup-window">
    <button class="popup-close-btn">
      <svg class="popup-close-btn-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-header-close"></use>
      </svg>
    </button>
    <div class="popup-book"></div>
    <div class="popup-book-btn-add">
      <button
        type="button"
        class="popup-book-btn-add-to-shopinglist"
        id="add"
        aria-label="Add card to shopping list"
      >
        ADD TO SHOPPING LIST
      </button>
      <!-- <p class="under-btn-text">
        Congratulations! You have added the book to the shopping list. To
        delete, press the button "Remove from the shopping list".
      </p> -->
    </div>
  </div>
</div>
