<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-header">Reviews</h2>
    <ul class="reviews-menu">
      <li class="reviews-menu-list">
        <div class="reviews-foto-and-stars">
          <div class="reviews-foto-name">
            <img
              class="reviews-foto"
              srcset="./img/reviews/student-one-2.png"
              src="./img/reviews/student-one.png"
              alt="Abraham Baker"
              width="56"
              height="56"
            />
            <div class="reviews-name-and-student">
              <h3 class="reviews-student-name">Abraham Baker</h3>
              <p class="reviews-student">Student</p>
            </div>
          </div>
          <div class="reviews-icons">
            <svg class="reviews-icons-star" width="20" height="20">
              <use href="./img/icons.svg#icon-reviews-star"></use>
            </svg>
            <svg class="reviews-icons-star" width="20" height="20">
              <use href="./img/icons.svg#icon-reviews-star"></use>
            </svg>
            <svg class="reviews-icons-star" width="20" height="20">
              <use href="./img/icons.svg#icon-reviews-star"></use>
            </svg>
            <svg class="reviews-icons-star" width="20" height="20">
              <use href="./img/icons.svg#icon-reviews-star"></use>
            </svg>
            <svg class="reviews-icons-star-white" width="20" height="20">
              <use href="./img/icons.svg#icon-reviews-star"></use>
            </svg>
          </div>
        </div>
        <p class="reviews-text">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>
      <li class="reviews-menu-list two">
        <div class="reviews-foto-and-stars">
          <div class="reviews-foto-name">
            <img
              class="reviews-foto"
              srcset="./img/reviews/student-two-2.png"
              src="./img/reviews/student-two.png"
              alt="Amanda Lowery"
              width="56"
              height="56"
            />
            <div class="reviews-name-and-student">
              <h3 class="reviews-student-name">Amanda Lowery</h3>
              <p class="reviews-student">Student</p>
            </div>
          </div>
          <div class="reviews-icons">
            <svg class="reviews-icons-star" width="20" height="20">
              <use href="./img/icons.svg#icon-reviews-star"></use>
            </svg>
            <svg class="reviews-icons-star" width="20" height="20">
              <use href="./img/icons.svg#icon-reviews-star"></use>
            </svg>
            <svg class="reviews-icons-star" width="20" height="20">
              <use href="./img/icons.svg#icon-reviews-star"></use>
            </svg>
            <svg class="reviews-icons-star" width="20" height="20">
              <use href="./img/icons.svg#icon-reviews-star"></use>
            </svg>
            <svg class="reviews-icons-star-white" width="20" height="20">
              <use href="./img/icons.svg#icon-reviews-star"></use>
            </svg>
          </div>
        </div>
        <p class="reviews-text">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
      </li>
    </ul>
  </div>
</section>
