<section class="shopping">
  <h2 class="shopping-title">Shopping <span>List</span></h2>
  <div class="empty-page hidden">
    <p class="text-shopping">
      This page is empty, add some books and proceed to order.
    </p>

    <picture>
      <source
        srcset="
          ./img/shopping/books-des-1.png 1x,
          ./img/shopping/books-des-2.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/shopping/books-phon-1.png 1x,
          ./img/shopping/books-phon-2.png 2x
        "
        media="(min-width:320px)"
      />
      <img src="./img/shopping/books-phon-1.png" alt="books" />
    </picture>
  </div>

  <ul class="shopping-list">
    <li class="loader-container"><span class="loader"></span></li>
  </ul>

  <div id="pagination-wrapper" class="tui-pagination"></div>
</section>
