<section class="shopping">

  <h2 class="shopping-title">Shopping <span>List</span></h2>
    <ul class="shopping-list">
      <li class="shopping-item">
        <div class="shopping-photo">
          <img src="../img/shopping/books-des-1.png" alt="assdas">
        </div>
        
        <div class="shopping-content">
          <p class="shopping-subtitle">I WILL FIND YOU</p>
          <p class="genre">Hardcover fiction</p>
          <p class="book-desc">David Burroughs was once a devoted father to his three-year-old son Matthew, living a dream life just a short drive away from the working-class suburb where he and his wife, Cheryl, first fell in love--until one fateful night when David woke suddenly to discover Matthew had been murdered while David was asleep just down the hall.</p>
          <p class="shopping-author">Harlan Coben</p>
        </div>
        <button type="button" class="shopping-trash">
          <svg width="18" height="18" class="trash-icon">
            <use href="./img/icons.svg#icon-shopp-trash"></use>
          </svg>
        </button>
      
      <div class="shop-buttons-amazon">
        <a href="" class="" target="_blank">
          <svg width="48" height="15" class="">
            <use href="./img/icons.svg#icon-shopp-amazon"></use>
          </svg>
        </a>
        <a href="" class="" target="_blank">
          <svg width="28" height="27" class="">
            <use href="./img/icons.svg#icon-shopp-book"></use>
          </svg>
        </a>
      </div>
    </li>
    </ul>
    
    <div class="empty-page">

      <p class="text-shopping">This page is empty, add some books and proceed to order.</p>
      <img src="../img/shopping/books-des-1.png" alt="books">
  

    </div>
  
</section>
