<section class="support">
  <div class="supp-container">
    <div class="support-header-wrapper">
      <h3 class="support-header">Support Ukraine</h3>
      <svg class="supp-icon" width="20" height="32">
        <use href="./img/icons.svg#icon-supp-ukraine"></use>
      </svg>
    </div>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <!-- Slides -->
        <li class="swiper-slide">
          <p class="supp-number">
            01
            <a
              href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
              target="_blank"
              class="charity-link"
            >
              <img
                class="charity-logo"
                src="./img/supp/children.png"
                alt="Save the Children"
              />
            </a>
          </p>
        </li>
        <li class="swiper-slide">
          <p class="supp-number">
            02
            <a
              href="https://www.projecthope.org/country/ukraine/"
              target="_blank"
              class="charity-link"
            >
              <img
                class="charity-logo"
                src="./img/supp/hope.png"
                alt="Project HOPE"
              />
            </a>
          </p>
        </li>
        <li class="swiper-slide">
          <p class="supp-number">
            03
            <a
              href="https://internationalmedicalcorps.org/country/ukraine/"
              target="_blank"
              class="charity-link"
            >
              <img
                class="charity-logo"
                src="./img/supp/madical.png"
                alt="International Medical Corps"
              />
            </a>
          </p>
        </li>
        <li class="swiper-slide">
          <p class="supp-number">
            04
            <a
              href="https://www.razomforukraine.org/"
              target="_blank"
              class="charity-link"
            >
              <img
                class="charity-logo"
                src="./img/supp/razom.png"
                alt="RAZOM"
              />
            </a>
          </p>
        </li>
        <li class="swiper-slide">
          <p class="supp-number">
            05
            <a
              href="https://www.actionagainsthunger.org/location/europe/ukraine/"
              target="_blank"
              class="charity-link"
            >
              <img
                class="charity-logo"
                src="./img/supp/hunger.png"
                alt="Action against hunger"
              />
            </a>
          </p>
        </li>
        <li class="swiper-slide">
          <p class="supp-number">
            06
            <a
              href="https://prytulafoundation.org/en"
              target="_blank"
              class="charity-link"
            >
              <img
                class="charity-logo"
                src="./img/supp/prytula.png"
                alt="Serhiy Prytula Charity Foundation"
              />
            </a>
          </p>
        </li>
        <li class="swiper-slide">
          <p class="supp-number">
            07
            <a
              href="https://www.msf.org/ukraine"
              target="_blank"
              class="charity-link"
            >
              <img
                class="charity-logo"
                src="./img/supp/frontieres.png"
                alt="Medicins Sans Frontieres"
              />
            </a>
          </p>
        </li>
        <li class="swiper-slide">
          <p class="supp-number">
            08
            <a
              href="https://www.wvi.org/emergencies/ukraine"
              target="_blank"
              class="charity-link"
            >
              <img
                class="charity-logo"
                src="./img/supp/vision.png"
                alt="World vision"
              />
            </a>
          </p>
        </li>
        <li class="swiper-slide">
          <p class="supp-number">
            09
            <a
              href="https://u24.gov.ua/uk"
              target="_blank"
              class="charity-link"
            >
              <img
                class="charity-logo"
                src="./img/supp/united.png"
                alt="UNITED24"
              />
            </a>
          </p>
        </li>
      </ul>
    </div>
    <button type="button" class="swiper-button">
      <svg class="swiper-button-icon" width="20" height="20">
        <use href="./img/icons.svg#icon-supp-vector-down"></use>
      </svg>
    </button>
  </div>
</section>
