.authentication {
  background-color: #4f2ee8;
  display: grid;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  overflow-y: auto;
  overflow-x: hidden;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.authentication.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

body.authentication-open {
  overflow: hidden;
}

.authentication-blur {
  position: absolute;
  top: -1080px;
  left: -1080px;
  width: 1400px;
  height: 1400px;
  border-radius: 100%;
  background-color: rgba(204, 236, 231, 0.5);
  filter: blur(1079.5821533203125px);
}
.authentication-body {
  margin: 10px 0;
  border: 2px solid var(--main-color);
  background-color: var(--authentication-bg);
  border-radius: 18px;
  width: 335px;
  padding: 38px 38px 38px 38px;
  position: relative;
  z-index: 2;
}
.authentication-close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authentication-icon-close {
  stroke: var(--header-icon-color);
  transition: stroke 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.authentication-icon-close:hover {
  stroke: #4f2ee8;
}
.authentication-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.authentication-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 24px;
}
.authentication-wrap input {
  line-height: 1.125;
  letter-spacing: -0.01em;
  color: var(--authentication-btn);

  outline: transparent;
  width: 100%;
  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 40px;
  height: 50px;
  padding: 14px 47px 14px 22px;
  transition: border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.authentication-wrap input:hover,
.authentication-wrap input:focus {
  border: 2px solid #4f2ee8;
}
.authentication-wrap input::placeholder {
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--categor-color);
}
.authentication-label {
  position: relative;
}
.authorization-icon-email,
.authorization-icon-lock {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
  fill: transparent;
  stroke: var(--header-icon-color);
  transition: stroke 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.authentication-wrap input:hover + .authorization-icon-email,
.authentication-wrap input:focus + .authorization-icon-email {
  stroke: #4f2ee8;
}
.authentication-wrap input:hover + .authorization-icon-lock,
.authentication-wrap input:focus + .authorization-icon-lock {
  stroke: #4f2ee8;
}
.authentication-button {
  padding: 0;
  font-size: 16px;
  line-height: 1.125;
  border: none;
  border-radius: 40px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  background-color: var(--authentication-btn);
  font-weight: 700;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--authentication-btn-color);
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.authentication-button:hover {
  background-color: #4f2ee8;
  color: var(--authentication-btn-color-hover);
}
.authentication-list {
  margin-top: 14px;
  display: flex;
  gap: 20px;
}
.authentication-item {
}
.authentication-signup,
.authentication-signin {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--categor-color);
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.authentication-signup:hover,
.authentication-signin:hover {
  color: #4f2ee8;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

/*---------------------------- Adaptive tablet (768px) ----------------------------*/

@media screen and (min-width: 768px) {
  .authentication-blur {
    top: -700px;
    left: -700px;
  }
  .authentication-body {
    width: 579px;
    padding: 78px 38px 38px 38px;
  }
  .authentication-close {
    width: 28px;
    height: 28px;
    top: 22px;
    right: 22px;
  }
  .authentication-wrap {
    gap: 24px;
    margin-bottom: 40px;
  }
  .authentication-wrap input {
    font-size: 18px;
    line-height: 1.33333;
    height: 64px;
    padding: 18px 73px 18px 38px;
  }
  .authentication-wrap input::placeholder {
    font-size: 18px;
    line-height: 1.33333;
  }
  .authorization-icon-email,
  .authorization-icon-lock {
    right: 38px;
    width: 28px;
    height: 28px;
  }
  .authentication-button {
    font-size: 18px;
    line-height: 1.33333;
    height: 64px;
  }
  .authentication-list {
    margin-top: 20px;
  }
  .authentication-signup,
  .authentication-signin {
    font-size: 18px;
    line-height: 1.33333;
  }
}
