.books-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.books-title {
  font-size: 32px;
  line-height: 1.1875;
  letter-spacing: -0.04em;
  color: var(--main-color);
}
.books-title-color {
  color: #4f2ee8;
}
.books-category-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--submain-color);
  margin-bottom: 18px;
}
.books-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.books-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.books-wrapper {
  margin-bottom: 14px;
  width: 100%;
  height: 485px;
  border-radius: 8px;
  overflow: hidden;
}
.books-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.books-overlay {
  opacity: 0;
  background-color: #eac645;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  bottom: 0;
  left: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;
}
.books-info {
  width: 335px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.books-info-title {
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.books-info-author {
  font-style: italic;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: var(--submain-color);
}
.books-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}
.books-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: inherit;
  cursor: pointer;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  width: 124px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.books-btn:hover,
.books-btn:focus {
  color: #fff;
  background-color: #4f2ee8;
}

/*---------------------------- Loader ----------------------------*/

.loader-container {
  height: calc(100vh - 24px);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid var(--main-color);
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: var(--categor-color-hover);
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

/*---------------------------- Adaptive tablet (768px) ----------------------------*/

@media screen and (min-width: 768px) {
  .books-title {
    font-size: 48px;
    line-height: 1.08333;
  }
  .books-category-title {
    line-height: 1.71429;
  }
  .books-list {
    gap: 25px;
  }
  .books-item {
    margin-bottom: 20px;
  }
  .books-wrapper {
    width: 218px;
    height: 316px;
  }
  .books-info {
    width: 218px;
  }
  .loader-container {
    height: 472px;
  }
}

/*---------------------------- Adaptive desktop (1440px) ----------------------------*/

@media screen and (min-width: 1440px) {
  .books-list {
    gap: 24px;
  }
  .books-item {
    margin-bottom: 32px;
  }
  .books-wrapper {
    width: 180px;
    height: 256px;
    position: relative;
  }
  .books-info {
    width: 180px;
  }
  .books-item:hover .books-overlay {
    transform: translateY(0%);
  }
  .books-overlay {
    opacity: 100%;
    height: 70px;
    cursor: pointer;
    transform: translateY(100%);
  }
}
