
.categories{
    /* border: 1px solid red; */
    text-align: left;
}


.categories-menu{
   display: flex;
   flex-direction: column;
   row-gap: 28px;
   width: 100%;
   height: 228px;
   overflow-y: auto;
}

.categories-list {
line-height: 1.33333;
letter-spacing: -0.02em;
color: var(--categor-color);
}
.categories-nav{
    line-height: 1.33333;
    letter-spacing: -0.02em;
    color: var(--categor-color);  
}

.categories-nav:hover{
    font-weight: 700;
    text-transform: uppercase;
    color: var(--categor-color);
}

/*---------------------------- Adaptive tablet ----------------------------*/

@media screen and (min-width: 768px) {
    .categories {
    
.categories-menu{
    row-gap: 32px;
    width: 337px;
    height: 472px;
 }
 .categories-nav{
    font-size: 18px;
 }
}
}



/*---------------------------- Adaptive desktop ----------------------------*/
@media screen and (min-width: 1280px) {
    .categories  {
        .categories-menu{
            width: 100%;
            height: 472px;
         }
    }  
}