.categories {
}

.categories-menu {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  width: 100%;
  height: 228px;
  overflow-y: auto;
}

.categories-list {
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: var(--categor-color);
}

.categories-nav {
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: var(--categor-color);
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.categories-nav:hover {
  color: var(--categor-color-hover);
}
.categories-nav.active {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--categor-color-hover);
}

.categories-menu::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}
.categories-menu::-webkit-scrollbar-thumb {
  background-color: var(--categor-scrol);
  border-radius: 12px;
}

.empty-category {
  display: flex;
  padding-top: 48px;
  width: 100%;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
}

.empty-category svg {
  fill: var(--categor-color-hover);
  width: 70px;
  height: 64px;
}

.empty-category span {
  font-size: 22px;
  color: var(--categor-color);
}

/*---------------------------- Adaptive tablet ----------------------------*/
@media screen and (min-width: 768px) {
  .categories-menu {
    row-gap: 32px;
    width: 337px;
    height: 472px;
  }

  .categories-nav {
    font-size: 18px;
  }
}

/*---------------------------- Adaptive desktop ----------------------------*/
@media screen and (min-width: 1440px) {
  .categories-menu {
    width: 100%;
    height: 472px;
  }
}
