/*--------------------------- Data-theme -----------------------------*/

.toggle-container {
  position: relative;
  border-radius: 36px;
  width: 40px;
  height: 20px;
}
.toggle-checkbox {
  appearance: none;
  position: absolute;
  z-index: 1;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.toggle-track {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: inherit;
  padding: 1px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  transition: background-image 0.4s linear;
}
.toggle-container > .toggle-checkbox:checked + .toggle-track {
  background-image: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}

.toggle-thumb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform-origin: left;
  width: 18px;
  height: 18px;
  background-image: linear-gradient(180deg, #fff 0%, #f7f7f7 100%);
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1),
    1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.toggle-thumb div {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
  background-image: linear-gradient(
    180deg,
    #dadada 0%,
    #f0efef 62.92%,
    #fff 100%
  );
}
.toggle-thumb div::after,
.toggle-thumb div::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
  width: 13px;
  height: 13px;
}
.toggle-checkbox + .toggle-track > .toggle-thumb {
  animation-name: grow-out, bounce-out;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.75, 0, 1, 1),
    cubic-bezier(0, 0, 0.3, 1.5);
  animation-delay: 0s, 0.2s;
  animation-fill-mode: forwards;
}
.toggle-checkbox:checked + .toggle-track > .toggle-thumb {
  animation-name: grow-in, bounce-in;
}

@keyframes grow-in {
  0% {
    border-radius: 0.6875em;
    transform: translateX(0) scale(1);
  }
  100% {
    border-radius: 0.4448529412em / 0.9453125em;
    transform: translateX(0.5em) scale(1.5454545455, 0.7272727273);
  }
}
@keyframes bounce-in {
  0% {
    border-radius: 0.4448529412em / 0.9453125em;
    transform: translateX(0.5em) scale(1.5454545455, 0.7272727273);
  }
  100% {
    border-radius: 0.6875em;
    transform: translateX(111%) scale(1);
  }
}
@keyframes grow-out {
  0% {
    border-radius: 0.6875em;
    transform: translateX(111%) scale(1);
  }
  100% {
    border-radius: 0.4448529412em / 0.9453125em;
    transform: translateX(0.125em) scale(1.5454545455, 0.7272727273);
  }
}
@keyframes bounce-out {
  0% {
    border-radius: 0.4448529412em / 0.9453125em;
    transform: translateX(0.125em) scale(1.5454545455, 0.7272727273);
  }
  100% {
    border-radius: 0.6875em;
    transform: translateX(0) scale(1);
  }
}

/*--------------------------- Scroll-up -----------------------------*/

.scroll-up {
  position: fixed;
  z-index: 5;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 40px;
  bottom: 50px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #4129ad;
  opacity: 0;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: pulse 4s infinite;
}
.scroll-up:hover {
  background-color: #876cff;
}
.scroll-up.show {
  opacity: 1;
}
.scroll-up-icon {
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 25px;
  height: 25px;
  fill: #876cff;
}
.scroll-up:hover .scroll-up-icon {
  fill: #4129ad;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
  }
  30% {
    box-shadow: 0 0 0 13px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/*--------------------------------------------------------*/
