/*---------------------------- Footer ----------------------------*/
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background-image: url(/img/footer/footer-mob-1.png);
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .footer {
    background-image: url(/img/footer/footer-mob-2.png);
  }
}

.footer-wrap {
  margin-bottom: 40px;
}

.footer-frame-section {
  margin-bottom: 40px;
}

.footer > .container {
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-logo-svg {
  fill: white;
  margin-bottom: 16px;
  display: block;
}

.footer-logo {
}

.footer-address {
  font-style: normal;
}

.footer-phone-contacts {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  margin-bottom: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-phone-contacts:hover,
.footer-phone-contacts:focus,
.footer-phone-contacts:active {
  color: #bea69e;
}

.footer-country {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 1.28;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-country:hover,
.footer-country:focus,
.footer-country:active {
  color: #bea69e;
}

.footer-nav-section {
  display: flex;
  gap: 40px;
  margin-bottom: 75px;
}

.footer-soc-name {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-name:hover,
.footer-soc-name:focus,
.footer-soc-name:active {
  color: #bea69e;
}
.footer-form-container {
  margin-bottom: 40px;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-label {
  flex-grow: 1;
}
.footer-input {
  width: 100%;
  height: 60px;
  border-radius: 12px;
  color: #121212;
  font-size: 16px;
  line-height: 1.25;
  outline: transparent;
  border: none;
  padding: 0 15px;
}

.footer-input::placeholder {
  color: #121212;
  font-size: 16px;
  line-height: 1.25;
}

.footer-form-button {
  padding: 0;
  width: 60px;
  height: 60px;
  border: none;
  background-color: #1d1d1d;
  color: #fff;
  border-radius: 12px;
  font-size: 20px;
  line-height: 1.2;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-button:hover {
  color: #bea69e;
  background-color: #000000;
}
.footer-last-part {
  display: flex;
  justify-content: space-between;
}

.footer-text {
  font-size: 12px;
  line-height: 16px;
}

.footer-menu-list,
.footer-soc-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/*---------------------------- Adaptive tablet ----------------------------*/
@media screen and (min-width: 768px) {
  .footer {
    background-image: url(/img/footer/footer-tablet-1.png);
    background-position: center;
    background-size: contain;
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .footer {
      background-image: url(/img/footer/footer-tablet-2.png);
    }
  }

  .footer > .container {
    padding-top: 50px;
    padding-bottom: 25px;
  }
  .footer-wrap {
    display: flex;
    margin-bottom: 75px;
    justify-content: space-between;
  }
  .footer-logo-svg {
    margin-bottom: 25px;
  }
  .footer-input {
    width: 178px;
  }
  .footer-frame-section {
    margin-bottom: 0;
  }
  .footer-nav-section {
    gap: 25px;
    margin-bottom: 0;
  }
  .footer-form-container {
    margin-bottom: 0;
  }
}

/*---------------------------- Adaptive desktop ----------------------------*/
@media screen and (min-width: 1280px) {
  .footer {
    background-image: url(/img/footer/footer-dec1280-1.png);
    background-position: center;
    background-size: contain;
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .footer {
      background-image: url(/img/footer/footer-dec1280-2.png);
    }
  }

  .footer-wrap {
    display: flex;
    margin-bottom: 50px;
    justify-content: flex-start;
  }

  .footer-input {
    width: 216px;
  }
  .footer-menu-list,
  .footer-soc-list {
    gap: 20px;
  }

  .footer-frame-section {
    margin-bottom: 0;
    margin-right: auto;
  }
  .footer-nav-section {
    gap: 50px;
    margin-bottom: 0;
  }
  .footer-form-container {
    gap: 16px;
    margin-bottom: 0;
    margin-left: 135px;
  }
}

/*---------------------------- Adaptive desktop (1440px)----------------------------*/
@media screen and (min-width: 1440px) {
  .footer {
    background-image: url(/img/footer/footer-dec1440-1.png);
    background-position: center;
    background-size: contain;
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .footer {
      background-image: url(/img/footer/footer-dec1440-2.png);
    }
  }

  .footer-form-container {
    margin-left: 190px;
  }
  .footer-nav-section {
    gap: 100px;
    margin-bottom: 0;
  }
}
