/*---------------------------- Other ----------------------------*/

html,
body {
  height: 100%;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
main {
  flex-grow: 1;
}

/*---------------------------- Adaptive mobile (320px) ----------------------------*/

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 80px;
  flex-grow: 1;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.home {
  width: 100%;
}
.shopping {
  width: 100%;
}

[data-page='shopping'] .sidebar {
  display: none;
}

/*---------------------------- Adaptive tablet (768px) ----------------------------*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .page {
    gap: 98px;
    padding-bottom: 100px;
  }
  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
}

/*---------------------------- Adaptive desktop (1440px) ----------------------------*/

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 24px;
  }
  .page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
  .sidebar {
    width: 356px;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    gap: 86px;
  }
  .home {
  }
  .shopping {
  }

  [data-page='shopping'] .sidebar {
    display: block;
  }

  [data-page='shopping'] .categories {
    display: none;
  }
}
