/*---------------------------- Other ----------------------------*/

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
  color: #172432;
  background-color: #868f92;
  color: #fff;
  font-size: 18px;
  overflow-y: auto;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  background-color: rgb(255, 255, 255);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(69, 96, 99);
}

/*---------------------------- Adaptive mobile (320px) ----------------------------*/

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* .fullscrean {
  min-height: 100vh;
  background-image: url(/img/hero/hero-section-320.jpg);
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .fullscrean {
    background-image: url(/img/hero/hero-section-320-2dppx.jpg);
  }
} */

/*---------------------------- Adaptive tablet (768px) ----------------------------*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
  }
}

/*---------------------------- Adaptive desktop (1152px) ----------------------------*/

@media screen and (min-width: 1152px) {
  .container {
    max-width: 1152px;
    padding: 0 36px;
  }
}

/*---------------------------- Adaptive desktop (1440px) ----------------------------*/

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 32px;
  }
}

/*---------------------------- Adaptive desktop (1920px) ----------------------------*/

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    padding: 0 182px;
  }
}
