/*---------------------------- Variables root----------------------------*/

.theme-light {
  --main-bg-color: #fff;
  --main-color: #111;
  --submain-color: #b4afaf;

  --header-bg-color: #fff;
  --shop-bg-color: #fff;

  --categor-color-hover: #4f2ee8;
  --categor-scrol: #e0e0e0;

  --icon-color: #111;
}
.theme-dark {
  --main-bg-color: #202024;
  --main-color: #fff;
  --submain-color: #b4afaf;

  --header-bg-color: #111;
  --shop-bg-color: #111;

  --categor-color-hover: #eac645;
  --categor-scrol: rgba(17, 17, 17, 0.6);

  --icon-color: #fff;
}

/*---------------------------- Other ----------------------------*/

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  overflow-y: auto;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  background-color: var(--main-bg-color);
}
body::-webkit-scrollbar-thumb {
  background-color: #e0e0e0d5;
  border-radius: 2px;
}

/*---------------------------- Adaptive mobile (320px) ----------------------------*/

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 80px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.home {
}
.shopping {
}

/*---------------------------- Adaptive tablet (768px) ----------------------------*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .page {
    gap: 98px;
    padding-bottom: 100px;
  }
  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
}

/*---------------------------- Adaptive desktop (1440px) ----------------------------*/

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 24px;
  }
  .page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
  .sidebar {
    width: 356px;
    flex-direction: column;
    flex-shrink: 0;
    gap: 86px;
  }
  .home {
  }
  .shopping {
  }
}
