.header {
}
.header-body {
  display: flex;
}
.header-navigation {
  display: flex;
}
.header-logo {
}
.header-nav-list {
  display: flex;
}
.header-nav-item {
}
.header-home {
}
.header-shopping {
}
