body.lock {
  overflow: hidden;
}

.header > .container {
  border: 1.5px solid var(--main-color);
  background-color: var(--header-bg-color);
  position: relative;
  z-index: 15;
  border-radius: 0 0 8px 8px;
  padding: 18px 20px;
}
.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--main-color);
}
.header-logo-item {
}
.header-nav-list {
  display: none;
}
.header-nav-item {
}
.header-home {
}
.header-shopping {
}
.header-shop-svg {
}
.header-feature {
  display: flex;
  align-items: center;
}
.header-sing-svg {
  stroke: #eac645;
}
.header-btn-burgher {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-left: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-burgher-svg {
  stroke: var(--header-icon-color);
}
.header-esc-svg {
  stroke: var(--header-icon-color);
  display: none;
}
.header-btn-burgher.active .header-esc-svg {
  display: block;
}
.header-btn-burgher.active .header-burgher-svg {
  display: none;
}

/* ==================================================== */

.header-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  z-index: 10;
  top: -100%;
  left: 0;
  overflow: auto;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu .container {
  height: 100%;
}
.header-menu.active {
  top: 0;
}
.header-menu-content {
  position: relative;
  padding-top: 85px;
  height: 100%;
}
.authentication-buttons {
  display: none;
}
.header-btn-submit {
  cursor: pointer;
  display: block;
  background-color: #4f2ee8;
  border: 1.5px solid #111;
  border-radius: 18px;
  width: 184px;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  padding: 0;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-btn-submit-modal:hover {
  background-color: #785bf7;
}
.header-sing-svg {
}
.header-nav-list-modal {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  align-content: center;
}
.header-nav-item-modal {
}
.header-home-modal {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 36px;
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 34px;
}
.header-home-modal.active {
  background-color: #eac645;
  font-weight: 700;
  color: #111;
}
.header-shopping-modal {
  border-radius: 36px;
  width: 156px;
  height: 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: relative;
}
.header-shopping span span, .header-shopping-modal span span {
  position: absolute;
  font-size: 10px;
  width: 16px;
  height: 16px;
  right: 8px;
  top: 3px;
  border-radius: 50%;
  background-color: #4f2ee8;
  color: #fff;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.header-shopping-modal.active {
  background-color: #eac645;
  font-weight: 700;
  color: #111;
}
.header-shopping-modal.active .header-shop-svg-modal {
  fill: #111;
}
.header-shop-svg-modal {
  fill: #fff;
}

.header-img {
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  z-index: -1;
}

/* ========================= Authorized ========================= */

.header-btn-submit {
}
.header-sing-svg {
}

.authorized {
  position: relative;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.authorized:hover .log-out {
  opacity: 1;
  transform: translateY(0);
}
.authorized:hover .authorized-vector {
  transform: rotate(0);
}
.authorized-data {
  display: flex;
  align-items: center;
  gap: 9px;
}
.authorized-btn {
  position: relative;
  z-index: 1;
  border: none;
  padding: 0 12px;
  border-radius: 36px;
  width: 184px;
  height: 45px;
  background-color: #4f2ee8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.authorized-ava-wrap {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #f6f6f6;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authorized-ava-wrap svg {
  fill: #4f2ee8;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.authorized-name {
  width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -0.02em;
  color: #fff;
}
.authorized-vector-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.authorized-vector {
  transform: rotate(-90deg);
  fill: #fff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.log-out {
  position: absolute;
  top: 100%;
  left: 0;
  cursor: pointer;
  padding: 0 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #111;
  border: 1.5px solid #111;
  border-radius: 18px;
  width: 184px;
  height: 48px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.log-out:hover {
  background-color: #785bf7;
  color: #fff;
}
/* ==================================================== */

@media screen and (min-width: 768px) {
  body.lock {
    overflow: auto;
  }
  .header > .container {
    padding: 13px 30px;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 40px;
  }

  .header-home {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--main-color);
    border-radius: 36px;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 34px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-home.active {
    background-color: #eac645;
    font-weight: 700;
    color: #111;
  }
  .header-home:hover {
    background-color: #eac645;
    color: #111;
  }
  .header-shopping {
    border-radius: 36px;
    width: 156px;
    height: 34px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  .header-shopping.active {
    background-color: #eac645;
    font-weight: 700;
    color: #111;
  }
  .header-shopping:hover {
    background-color: #eac645;
    color: #111;
  }
  .header-shop-svg {
    fill: var(--header-icon-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-shopping.active .header-shop-svg {
    fill: #111;
  }
  .header-shopping:hover .header-shop-svg {
    fill: #111;
  }

  .authentication-buttons {
    margin-left: 25px;
    width: 184px;
    height: 45px;
    display: block;
  }
  .header-menu {
    display: none;
  }
  .header-btn-burgher {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .authorized {
    position: static;
  }
  .authorized-btn {
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    width: 100%;
    background-color: transparent;
  }
  .authorized-btn .authorized-vector {
    display: none;
  }
  .authorized-name {
    width: calc(100% - 46px);
    text-align: left;
  }
  .authentication-buttons-mob {
    position: static;
  }
  .log-out {
    position: absolute;
    opacity: 1;
    visibility: visible;
    top: auto;
    bottom: 20px;
    width: 118px;
    transform: none;
    background-color: #fff !important;
    color: #000 !important;
  }
}

@media screen and (min-width: 1440px) {
  .header > .container {
    padding: 13px 22px;
  }
  .header-btn-home {
    margin-left: 70px;
  }
  .header-nav-list {
    gap: 24px;
    margin-left: 115px;
  }
  .header-btn-submit:hover {
    background-color: #785bf7;
  }
}
