.popup-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  z-index: 1000;
  opacity: 0;
}

.popup-window {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 336px;
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-color);
  border-radius: 20px;
}

.popup-close-btn {
  padding: 0;
  position: absolute;
  top: 12px;
  right: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup-close-btn-icon {
  stroke: var(--main-color);
  transition: stroke 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-close-btn-icon:hover {
  stroke: var(--categor-color-hover);
}

.popup-book {
  gap: 24px;
}

.popup-wrap-img {
  width: 287px;
  height: 408px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 14px;
}

.popup-book-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.popup-book-content {
  width: 279px;
  justify-content: flex-start;
}

.popup-book-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: var(--main-color);
  margin-bottom: 8px;
}

.popup-book-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: var(--submain-color);
  margin-bottom: 18px;
}

.popup-book-review {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: var(--main-color);
  margin-bottom: 14px;
}

.popup-shopping-links {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  gap: 20px;
  text-align: center;
  align-items: center;
}

.popup-shopping-links-icon {
  filter: var(--icon-amazon);
}

.popup-shopping-links-icon:hover,
.popup-shopping-links-icon:focus {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
  mix-blend-mode: luminosity;
}

.popup-book-btn-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.popup-book-btn-add-to-shopinglist {
  width: 499px;
  height: 64px;
  margin-top: 40px;
  border: 2px solid #4f2ee8;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--main-color);
  cursor: pointer;
  background-color: transparent;
}

.popup-book-btn-add-to-shopinglist:hover {
  color: var(--main-bg-color);
  background-color: var(--categor-color-hover);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.under-btn-text {
  width: 242px;
  margin-top: 8px;
  color: rgba(17, 17, 17, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: -0.04em;
}

/* ------------------------------------------------------------------------------- */

.is-active {
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.no-scroll {
  overflow: hidden;
}

/*---------------------------- Adaptive tablet (768px) ----------------------------*/

@media screen and (min-width: 768px) {
  .popup-window {
    padding: 40px;
    width: 579px;
  }

  .popup-close-btn {
    top: 24px;
    right: 24px;
  }

  .popup-close-btn-icon {
    width: 28px;
    height: 28px;
  }

  .popup-book {
    display: flex;
  }

  .popup-wrap-img {
    width: 192px;
    height: 281px;
    margin-bottom: 0;
  }

  .popup-book-title {
    font-size: 24px;
    line-height: 28px;
  }

  .popup-book-author {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .popup-book-review {
    margin-bottom: 20px;
  }

  .popup-book-btn-add-to-shopinglist {
    width: 499px;
    font-size: 18px;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .under-btn-text {
    width: 324px;
    font-size: 12px;
    line-height: 14px;
  }
}
