/*----------------------------Null----------------------------*/
a,
a:visited,
a:hover {
  text-decoration: none;
}
a {
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
