.shopping-title {
  margin-bottom: 40px;
}

.shopping-title span {
}
.shopping-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.shopping-item {
  background-color: var(--header-bg-color);
  display: flex;
  width: 100%;
  height: 213px;
  position: relative;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  padding: 24px;
}
.shopping-content {
}
.shopping-subtitle {
}
.genre {
}
.book-desc {
}
.shopping-author {
}
.shop-buttons-amazon {
  position: absolute;
  bottom: 30px;
  right: 24px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.empty-page {
}
.text-shopping {
}
.shopping-trash {
  position: absolute;
  top: 30px;
  right: 24px;
}
.trash-icon {
}

.shopping-photo {
  height: 161px;
  width: 116px;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
}
.shopping-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styles for page numbers */

.tui-pagination {
  max-width: 323px;
  margin: 20px 0 40px;
  display: flex;
  justify-content: center;
}

.tui-page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  width: 38px;
  height: 38px;
  border: 1px solid black;
}

.custom-class-first {
  margin-right: 5px;
  background-color: #111111;
}

.custom-class-prev {
  margin-right: 5px;
  background-color: #111111;
}

.custom-class-next {
    /* margin-right: 5px;
  background-color: #111111; */
}

.custom-class-last {
    margin-right: 5px;
  background-color: #111111;
}

.tui-is-selected {
}

.tui-is-disabled {
}

.tui-ico-ellip {
}
