 .swiper {
    border-radius: 16px;
        width: 335px;
        height: 460px;
        box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
        background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, rgb(79, 46, 232) 18.02733987569809%, rgb(255, 255, 255) 100%);
       

    }
.support-header {
        font-family: "DM Sans", sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.09091;
        letter-spacing: -0.04em;
        color: #fff;
        margin: 0px 12px;
    }

.swiper-wrapper { 
display: flex;
flex-direction: column;
width: 159px;
height: 292px;
margin:  0px 130px 20px 40px;
}

.support-header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:20px 85px 40px 40px;
    width: 208px;
    height: 32px;
}
 .swiper-slide { 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
 }

 .supp-icon {
fill: var(--main-bg-color);
 }
 .supp-number {
    color: var(--main-bg-color);
 }
 img.charity-logo {
     filter: brightness(0) invert(1);
     cursor: pointer;
 }
.swiper-button {
    width: 32px;
    height: 32px;
    background-color: var(--main-bg-color);
    cursor: pointer;
    border-radius: 50%;
}