.supp-container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  width: 100%;
  height: 460px;
  box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
  box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18.02733987569809%,
    rgb(255, 255, 255) 100%
  );
  padding: 24px 40px 0px 40px;
}
html .swiper {
  margin: 0;
  height: 292px;
}
.support-header {
  font-size: 22px;
  line-height: 1.09091;
  letter-spacing: -0.04em;
  color: #fff;
}
.support-header-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 12px;
}
.supp-number {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 32px;
}
.charity-link {
  height: 100%;
}
.supp-icon {
  fill: #fff;
}
.charity-logo {
  height: 100%;
  filter: brightness(0) invert(1);
}
.swiper-button {
  width: 32px;
  height: 32px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button.rotate {
  transform: rotate(180deg);
}
.swiper-button-icon {
  fill: #4f2ee8;
}

/*---------------------------- Adaptive tablet (768px) ----------------------------*/

@media screen and (min-width: 768px) {
  .supp-container {
    height: 474px;
    width: 335px;
  }
  .swiper-button {
    width: 38px;
    height: 38px;
    margin-top: 24px;
  }
  .swiper-button-icon {
    width: 22px;
    height: 22px;
  }
}

/*---------------------------- Adaptive desktop (1440px) ----------------------------*/

@media screen and (min-width: 1440px) {
  .supp-container {
    width: 100%;
  }
}
