/*---------------------------- Variables root----------------------------*/

:root[data-theme='theme-light'] {
  --main-bg-color: #fff;
  --main-color: #111;
  --submain-color: #b4afaf;

  --header-icon-color: #111;
  --header-bg-color: #fff;
  --shop-bg-color: #fff;

  --authentication-bg: #f6f6f6;
  --authentication-btn: #111;
  --authentication-btn-color: #f3f3f3;
  --authentication-btn-color-hover: #f3f3f3;

  --categor-color: rgba(17, 17, 17, 0.6);
  --categor-color-hover: #4f2ee8;
  --categor-scrol: #e0e0e0;

  --icon-amazon: grayscale(100%);
  --icon-book-apple: grayscale(100%);
  --icons-hover: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));

  --icon-img-bg-first: url(/img/shopping/vectors/vector-left2.png);
  --icon-img-bg-prev: url(/img/shopping/vectors/vector-left1.png);

  --scroll-up: 0 0 0 0 rgba(135, 141, 151, 0.753);
}

:root[data-theme='theme-dark'] {
  --main-bg-color: #202024;
  --main-color: #fff;
  --submain-color: #b4afaf;

  --header-icon-color: #fff;
  --header-bg-color: #111;
  --shop-bg-color: #111;

  --authentication-bg: #202024;
  --authentication-btn: #f6f6f6;
  --authentication-btn-color: #202024;
  --authentication-btn-color-hover: #f3f3f3;

  --categor-color: rgba(255, 255, 255, 0.6);
  --categor-color-hover: #eac645;
  --categor-scrol: rgba(17, 17, 17, 0.6);

  --icon-amazon: brightness(0) invert(1);
  --icon-book-apple: grayscale(100%);
  --icons-hover: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));

  --icon-img-bg-first: url(/img/shopping/vectors/vector-left-2-dark.png);
  --icon-img-bg-prev: url(/img/shopping/vectors/vector-left-1-dark.png);

  --scroll-up: 0 0 0 0 rgba(255, 255, 255, 0.3);
}

/* ----------------------------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
